services:
  backend:
    build: ./backend
    container_name: server-uptime-backend
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "${APP_PORT:-3000}:3000"
  db:
    image: postgres:16-alpine
    container_name: uptime_db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: